.cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
    // ::-webkit-scrollbar { 
    //     display: none; /* this makes the scroll bar to hide */
    // }
    
    ::-webkit-scrollbar {
        width: 0.2em;
    }
    
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: black;
      outline: 1px solid black;
    }

    .cart-items {
        height: 240px;
        display: flex;
        flex-direction: column;
        overflow: auto;
       
      
      }

    button {
        margin-top: auto;
      }
    
  
  
  
    
  }
  